:root {
    --brand-color: #C14953;
    --primary-text-color: #FAF9F6;
    --bg-color: #ABA9BF;
}

body {
    background: var(--bg-color);
    font-family: "IBM Plex Sans JP", sans-serif;
    color: var(--primary-text-color);
}

#mainNavbar {
    font-size: 1.2rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color: var(--brand-color);
    font-size: 1.5rem;
    font-weight: 100;
}

#navLinks ul li a {
    color: var(--primary-text-color);
}

#mainNavbar .nav-link:hover {
    color: var(--brand-color);
    transform: scale(1.2);
}


.masthead {
    margin-top: 10px;
}

.jumbotron {
    background: linear-gradient(to top, rgba(171, 169, 191, 0) 0%, rgba(171, 169, 191, 0.5) 75%, #ABA9BF 100%), url(../images/hero-image.jpg);
    height: calc(90vh - 35px);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid white;
}

.lead {
    padding: 10px;
    font-size: 1.2rem;
}
.portfolio-image {
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--primary-text-color);
    box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.2) !important;
}
