/********* Global *********************/
:root {
  --brand-color: #c14953;
  --light-color: #faf9f6;
  --bg-color: #e8d6cb;
  --dark-color: #353b3c;
}

body {
  background: var(--bg-color);
  font-family: "Space Mono", sans-serif;
  color: var(--dark-color);
}

a {
  color: var(--dark-color);
}

a:hover {
  text-decoration: none;
  color: red;
}

/********* Navbar *********************/
#mainNavbar {
  font-size: 1.2rem;
  font-weight: 100;
}

#mainNavbar .navbar-brand {
  color: var(--brand-color);
  font-size: 1.5rem;
  font-weight: 100;
}

#navLinks ul li a {
  color: var(--light-color);
}

#mainNavbar .nav-link:hover {
  color: var(--brand-color);
}

/********* Header/Hero *********************/

.jumbotron {
  background: linear-gradient(
      to top,
      rgba(171, 169, 191, 0.1) 0%,
      rgba(171, 169, 191, 0.5) 75%,
      #aba9bf 100%
    ),
    url(../images/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid var(--light-color);
}

.heading {
  color: var(--light-color);
}
.header-text {
  padding: 0.5rem 1rem;
  transition: color 1s ease-in;
  font-weight: 800;
  background-color: var(--brand-color);
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.1);
}

.portfolio-image {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--light-color);
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.5);
}

#resume {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

#resume:hover {
  color: var(--brand-color) !important;
  background-color: var(--light-color);
  border-color: var(--brand-color);
  box-shadow: 0 0.5em 0.5em -0.4em var(--dark-color);
  transform: translateY(-0.1em);
}

.navbar.scrolled {
  background-color: var(--dark-color);
  transition: background 0.3s;
}

/********* Main *********************/

/* Work/Project section */

.section-header {
  font-size: 2.5rem;
  text-align: center;
}
.proj-img {
    object-fit: cover;
    height: 240px;
    outline: 1px solid black;
}
.proj-img-sm {
  height: 180px;
}

.text-small {
    font-size: 0.8rem;
}

.card {
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.1);
  border: 2px solid var(--dark-color);
  background-color: var(--light-color);
}

.project-link:hover {
  opacity: 0.8;
  transform: scale(1.03);
}

#about-me {
  background-color: var(--dark-color);
  padding-bottom: 3rem;
  color: var(--light-color);
}

.about-me-color {
  color: var(--light-color);
}

.cirle-shape {
  color: var(--brand-color);
  position: absolute;
  margin-top: 6rem;
  font-size: 10rem;
}

.text-underline {
  text-decoration: underline;
}
.icons {
  font-size: 2rem;
  margin: 0 1rem;
}

.icons:hover,
.icons:focus {
  opacity: 0.7;
  transform: scale(1.3);
}

footer {
  width: 100%;
  height: 200px;
  background-image: url("../images/hero-image.jpg");
  border-top: 1px solid var(--light-color);
  background-size: cover;
  background-position: center;
}

.contact-info {
    margin-top: -40px;
}

.contact-icons {
    font-size: 2rem;
}

.contact-icons:hover {
    
}
