/********* Global *********************/
:root {
    --brand-color: #C14953;
    --primary-text-color: #FAF9F6;
    --bg-color: #E8D6CB;
    --dark-color: #353B3C;
    /* --dark-color in rgb tas means to place an alpha value on it */
    --dark-color-rgb: 53,59,60; 
}

body {
    background: var(--bg-color);
    font-family: "Space Mono", sans-serif;
    color: var(--primary-text-color);
}

/********* Navbar *********************/
#mainNavbar {
    font-size: 1.2rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color: var(--brand-color);
    font-size: 1.5rem;
    font-weight: 100;
}

#navLinks ul li a {
    color: var(--primary-text-color);
}

#mainNavbar .nav-link:hover {
    color: var(--brand-color);
}

/********* Header/Hero *********************/

.jumbotron {
    background: linear-gradient(to top, rgba(171, 169, 191, 0.1) 0%, rgba(171, 169, 191, 0.5) 75%, #ABA9BF 100%), url(../images/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid var(--primary-text-color);
}

.header-text {
    padding: 0.5rem 1rem;
    transition: color 1s ease-in;
    font-weight: 800;
    background-color: var(--brand-color);
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.1);  
}

.portfolio-image {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--primary-text-color);
    box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.5);
}

#resume {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1); 
    transition: 0.5s;
}

#resume:hover {
    color: var(--brand-color) !important;
    background-color: var(--primary-text-color);
    border-color: var(--brand-color);
    box-shadow: 0 0.5em 0.5em -0.4em var(black);
    transform: translateY(-0.1em);
}

.navbar.scrolled {
    background-color: var(--dark-color);
    transition: background 0.3s;
}

/********* Main *********************/

/* Work/Project section */

.subHeading {
    width: 40%;
    border: 2px solid var(--brand-color);
    border-radius: 4px;
    background-color: rgba(var(--dark-color-rgb), 0.1);
    box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.4);
    color: var(--dark-color);
}

.project-image {
    border: 3px solid var(--dark-color);
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1); 
    border-radius: 4px;
    object-fit: cover;
    height: 300px;
}

.project-image:hover {
    transform: scale(1.01);
    opacity: 0.7;
}